*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}


/**** BODY ****/

.container100{
    background-color: black ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.container90{
    width: 90%;
    height: 95vh;
    flex-wrap: wrap;
    padding: 3rem;
}

.box{
    background-color: crimson;
    width: calc((100% / 7) - 2px);
    height: calc((100% / 5) - 4px);
    margin-left: 2px;
    margin-top: 4px;
}

.box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.inside-text{
    background-color: rgba(104, 101, 101, 0.7);
    position: absolute;
    bottom: 5px;
    left: 0;
}

.box i{
    font-size: 10px;
    color: white;
}

/*** FOOTER ***/

footer{
    height: 5vh;
    width: 100%;
}
.ft-container{
    background-color: steelblue;
    height: 100%;
}

.ft-box{
    background-color: rgb(34, 34, 34);
    height: 100%;
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 13px;
}
.small{
    width: 15%;
}
.large{
    width: 85%;
}

.audio-video{
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.audio-video p{
    margin: 4px 0;
}

.audio-video i{
    display: block;
}

.actions{
    height: 100%;
    justify-content: center;
    align-items: center;
}
.actions p{
    margin: 4px 8px
}
.green{
    color: green;
}

.end{
    justify-content: center;
    align-items: center;
    color: red;
}


